.footer {
    display: flex;
    flex-flow: column nowrap;

    min-height: 350px;
    background-color: #CC5520;

    color: white;
}





// CONTACTS START

.contacts {
    padding: 55px 124px 0 124px;

    height: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contacts_logo {
    margin-bottom: 50px;

    max-width: 127px;
    max-height: 22px;

    display: block;
}

.contacts_list-title {
    border-bottom: 2px solid white;
    padding-right: 8px;

    width: fit-content;

    font-size: 18px;    
}

.contacts_list {
    margin-bottom: 30px;
}

.contacts_list-item {
    margin-top: 20px;
    width: fit-content;
    box-sizing: border-box;
    
    &:hover {
        margin-top: 18px;
        border-bottom: 2px solid white;
    }
}



// Subscribe start

.contacts_subscribe {
    max-width: 365px;
}

.subscribe_title {
    margin: 0 30px 20px 0;

    font-size: 18px;
}

.subscribe_form {
    display: flex;
    gap: 10px;
}

.subscribe_button, .subscribe_email {
    height: 50px;
    background-color: white;
    border-radius: 3px;
    border: 0;
}

.subscribe_button {
    width: 100%;
    color: #CC5520;
    transition: color 0.4s ease-out, background-color 0.4s ease-out;
    
    &:hover {
        border: 1px solid white;
        background-color: #CC5520;
        color: white;
    }
}

.subscribe_email {
    padding-left: 15px;

    &::placeholder {
        font-size: 14px;
    }
}

// Subscribe end



// CONTACTS END





// COPYRIGHT START

.copyright {
    padding: 0 124px;
    min-height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-top: 1px solid white;
    background-color: #CC5520;
}

.copyright_text {
    font-size: 12px;
}

.copyright_networks {
    display: flex;
    gap: 25px;
}

// COPYRIGHT END