@media (max-width: 1200px) {
  .wrapper {
    padding: 0 100px;
  }
  .header_content-pic {
    width: 355px;
    height: 430px;
  }
  .fox_part-title {
    right: 5%;
  }
  .fox_part-picture {
    width: 221px;
    height: 253px;
  }
  .fox_part-quote {
    padding-right: 40px;
  }
  .fox_part-dots {
    display: none;
  }
  .services-grid {
    gap: 50px;
  }
  .contacts {
    padding: 25px 40px 0 40px;
  }
  .copyright {
    padding: 0 40px;
  }
  .quote_pic {
    margin-top: 100px;
  }
}
@media (max-width: 1050px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 830px) {
  .title {
    text-align: center;
  }
  .wrapper {
    padding: 0 40px;
  }
  .header, .download, .services, .fox_part, .working {
    margin-bottom: 40px;
  }
  .fox_part {
    flex-direction: column;
  }
  .fox_part-picture {
    position: static;
    margin-top: -100px;
  }
  .fox_part-title {
    position: static;
  }
  .fox_part-marked_block {
    width: 100%;
    max-height: 210px;
    display: flex;
    justify-content: center;
  }
  .quote_pic {
    margin: 0;
    width: 115px;
    height: 100px;
    position: absolute;
    top: -60px;
    left: 0px;
  }
  .services-grid {
    grid-template-columns: 100%;
    gap: 40px;
    place-items: center;
  }
  .services_card-receive {
    transform: none;
    justify-self: auto;
  }
}
@media (max-width: 780px) {
  .header_content-pic {
    position: static;
  }
  .header {
    box-shadow: none;
  }
  .header_content {
    width: 100%;
  }
  .header_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_menu {
    gap: 20px;
  }
}
@media (max-width: 550px) {
  .header {
    padding-top: 100px;
  }
  .nav {
    height: 70px;
    margin-bottom: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    transition: height 0.5s ease-out;
  }
  .nav_item:active, .nav_item:focus {
    color: white;
    background-color: #CC5520;
  }
  .menu_opener {
    display: block;
  }
  .nav_menu {
    display: none;
    transition: opacity 0.5s ease-out;
  }
  .download_phones-pic {
    width: 355px;
  }
  .fox_part-quote {
    padding: 10px;
  }
  .quote_author {
    margin-bottom: 0px;
  }
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe_form {
    flex-direction: column;
  }
  .contacts_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contacts_list-title {
    font-size: 28px;
    line-height: 33px;
    padding-right: 0;
  }
  .contacts_list-item, .subscribe_title {
    width: 100%;
    text-align: center;
  }
  .subscribe_email {
    padding-left: 40px;
  }
  .footer_network {
    min-height: 26px;
    max-width: 36px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .copyright {
    padding: 0;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  .copyright_networks {
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
  }
  .copyright_text {
    margin: -30px 0 20px 0;
  }
}
@media (max-width: 435px) {
  .wrapper {
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .stores-item {
    width: 168px;
    height: 56px;
  }
  .stores > a:first-child {
    background: url(../images/google-play-responsive.png);
  }
  .stores > a:last-child {
    background: url(../images/app-store-responsive.png);
  }
}
.sliding-nav_menu {
  position: absolute;
  display: flex;
  opacity: 1;
  flex-direction: column;
  gap: 5px;
  top: 100px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.sliding-nav_menu .nav_item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliding-nav {
  height: 290px;
}
.sliding-nav .menu_opener {
  transform: rotate(180deg);
}
.sliding-nav::after {
  content: "";
  display: block;
  position: fixed;
  top: 290px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  animation: sliding 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@keyframes sliding {
  0% {
    top: 60px;
  }
  100% {
    top: 290px;
  }
}/*# sourceMappingURL=responsive.css.map */