$leading_color: #CC5520;

html, body {
    height: 100%;
}

.container {
    height: 100%;
    max-width: 100%;
    font-family: 'Roboto';
}

.wrapper {
    padding: 0 250px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 50px;
}





.services {
    margin-bottom: 150px;
}

.services-title {
    grid-column: 1 / 3;
}

.services-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 85px calc(50% - 85px) 50%;
    gap: 100px;
}

.services_card {
    height: 525px;
    max-width: 380px;
    padding: 48px;
    background-color: #CC5520;
}

.services_card-receive {
    grid-column: 2 / 3;
    transform: translateY(calc(-50% - 50px));
}